/* this stylesheet contains styles for 
the thank you page for general styles see app.css 
*/

/* body and container layout */
.thanks-body,
.thanks {
    display: flex;
}

.thanks-body {
    justify-content: center;
    align-items: center;
}

.thanks {
    flex-direction: column;
    height: 350px;
    width: 325px;
    justify-content: space-between;
    color: var(--rolls-royce-purple);
}

/* body and container styles */
.thanks-body {
    height: 100%;
    width: 100%;
    background-color: var(--eggshell);
}

.thanks h1 {
    text-decoration: underline solid var(--sunset-orange);
}
