.contact {
    padding: 15px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--sunset-orange);
}


form {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 350px;
    justify-content: space-between;
}

textarea:focus, 
input:focus,
button:focus {
    outline: none;   
    border: none;
}

textarea,
input,
button {
    border: none;
    font-weight: bold;
}

textarea:hover,
input:hover,
button:hover {
    border: none;
}

textarea {
    height: 150px;
    padding: 10px;
}

input, button {
    height: 30px;
    padding: 10px;
}

button {
    background-color: var(--eggshell);
    transition: all ease-in-out 0.3s;
}

button:hover  {
    cursor: pointer;
    color: var(--eggshell);
    background-color: var(--rolls-royce-purple);
}

