/* This stylesheet is for elements specific to 
projects section of the page */

/* Individual Projects */
.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 1.25rem;
}

.project ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.scroll {
    background: transparent;
    background-image: url('../../../public/static/photos/screenshots/triange.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.scroll.right {
    transform: rotate(180deg);
}

.scroll:hover {
    cursor: pointer;
}

.devicons-1 {
    font-size: 3rem;
    margin: 10px;
}

.screenshot-link img{
    max-height: 350px;
    height: auto;
    max-width: 550px;
    width: auto;
}

/* Containers */
.projects-wrapper {
    width: 650px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}


.projects {
    display: flex;
    height: fit-content;
    width: 550px;
    overflow-x: scroll;
    border-radius: 5px;
}

.projects::-webkit-scrollbar{
    display: none;
}

/* Mobile size */
@media screen and (max-width: 425px) {
    /* Container */
    .projects-wrapper {
        width: 300px;
    }

    /* Individual projects */
    .project, .devicons-1 {
        font-size: 1rem;
    }

    .scroll {
        display: none;
    }

    .screenshot-link img{
        max-height: 175px;
        height: auto;
        max-width: 300px;
        width: auto;
    }
}

/* Tablet size */
@media screen and (min-width: 600px) and (max-width: 850px) {
    /* Containers */
    .projects {
        flex-direction: column;
        height: 400px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .projects-wrapper {
        justify-content: center;
    }

    #projects.container {
        flex-direction: column;
    }

    /* Projects */
    .scroll {
        display: none;
    }
}