.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
}

.devicons {
    font-size: 4rem;
    line-height: 5rem;
    margin: 50px;
}

.tbd {
    text-align: center;
}

