/* This stylesheet is for common styles across all
pages some pages have specific stylesheet for things 
specific for their components, theme also done here
*/

/* 
AOS animations 
\\\\\\\\\\\\\\
*/
body {
  overflow-x: hidden;
}

/*
Themes 
\\\\\\\\
*/
/* colors */
:root {
  --sunset-orange: #ff9b71;
  --rolls-royce-purple: #201335;
  --eggshell: #fffded;
}
/* light and dark constant styles */
nav, 
.previous-portfolio,
.meet-tyreeck-text p,
.makki-dev-text p {
  color: var(--sunset-orange);
}

body::-webkit-scrollbar,
.projects::-webkit-scrollbar {
  width: 0.7em;
  background: var(--eggshell);
}

body::-webkit-scrollbar-thumb,
.projects::-webkit-scrollbar-thumb {
  background: var(--sunset-orange);
  height:20px;
}

.contact {
  background-color: var(--sunset-orange);
}

/* Light mode*/
.light {
  background-color: var(--eggshell);
}

#about .text span {
  text-decoration: underline solid var(--sunset-orange);
}

.light nav ul li {
  border-bottom: 3px solid var(--rolls-royce-purple);
}

.light .meet-tyreeck-text h1,
.light .makki-dev-text h1,
.light .text,
.light .previous-portfolio a,
.light .footer {
  color: var(--rolls-royce-purple);
  text-decoration-color: var(--sunset-orange);
}

.light .slider {
  background-color: var(--rolls-royce-purple);
}

.light nav ul li:hover {
  background-color: var(--rolls-royce-purple);
  border-radius: 5px;
  color: var(--eggshell);
}

.light .text h1 {
  text-decoration: underline solid var(--sunset-orange);
}

.light .project {
  color: var(--rolls-royce-purple);
}

/* Dark Mode */
.dark {
  background-color: var(--rolls-royce-purple);
}

.dark nav ul li {
  border-bottom: 3px solid var(--eggshell);
}

.dark nav ul li:hover {
  background-color: var(--eggshell);
  border-radius: 5px;
  color: var(--rolls-royce-purple);
}

.dark .text h1 {
  text-decoration: underline solid var(--sunset-orange);
}

.dark .meet-tyreeck-text h1,
.dark .makki-dev-text h1,
.dark .text,
.dark .previous-portfolio a,
.dark .footer {
  color: var(--eggshell);
  text-decoration-color: var(--sunset-orange);
}

.dark .slider {
  background-color: var(--eggshell);
}

.dark .project {
  color: var(--eggshell);
}

.dark .devicon-github-original,
.dark .tbd,
.dark .devicon-express-original {
  color: white;
}

/* 
All Pages 
\\\\\\\\\\\\\\\
*/
*, *::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
  box-sizing: border-box;
}

a {
  color: inherit;
}

.text a {
  text-decoration: none;
}

p {
  font-weight:bold;
}

/* Containers */
.container {
  min-height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text,
.contact, 
.skills,
.me,
.projects {
  width: 40%;
  height: fit-content;
}

.contact, 
.me {
  padding: 15px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

/* text */
.text h1 {
  /* text-decoration: underline; */
  font-size: 5rem;
  margin-bottom: 25px;
}

.text p {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

/* Mobile and Tablet */
@media screen and (max-width: 825px) {
  /* container and layout*/
  .container {
    height: fit-content;
    flex-direction: column;
    padding: 15px;
    justify-content: space-evenly;
  }

  .text {
    margin-bottom: 100px;
  }

  .text h1 {
    font-size: 3rem;
  }

  .text p {
    font-size: 1rem;
  }

  .text,
  .contact,
  .skills,
  .me,
  .projects {
    width: 85%;
    height: fit-content;
  }

}
/*
End all pages
\\\\\\\\\\\\\\
*/