*, *::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
  box-sizing: border-box;
}

a {
  color: inherit;
}
/* 
.App {
  
} */

/* 
All Pages 
\\\\\\\\\\\\\\\
*/


/*
End all pages
\\\\\\\\\\\\\\
*/









