/*
Themes 
\\\\\\\\
*/
/* colors */
:root {
  --sunset-orange: #ffb17a;
  --rolls-royce-purple: #4f4789;
  --eggshell: #fffded;
}
/* light and dark constant styles */
nav, 
.previous-portfolio,
.meet-tyreeck-text p,
.makki-dev-text p
.devicons {
  color: var(--sunset-orange);
}

/* Light mode*/
.light {
  background-color: var(--eggshell);
}

.light nav ul li {
  border-bottom: 3px solid var(--rolls-royce-purple);
}

.light .meet-tyreeck-text h1,
.light .makki-dev-text h1,
.light .text {
  color: var(--rolls-royce-purple);
  text-decoration-color: var(--sunset-orange);
}

.light nav ul li:hover {
  background-color: var(--rolls-royce-purple);
  border-radius: 5px;
  color: var(--eggshell);
}

.light .text h1 {
  text-decoration: underline solid var(--sunset-orange);
}

/* Dark Mode */
.dark {
  background-color: var(--rolls-royce-purple);
}

.dark nav ul li {
  border-bottom: 3px solid var(--eggshell);
}

.dark nav ul li:hover {
  background-color: var(--eggshell);
  border-radius: 5px;
  color: var(--rolls-royce-purple);
}

.dark .text h1 {
  text-decoration: underline solid var(--sunset-orange);
}

.dark .meet-tyreeck-text h1,
.dark .makki-dev-text h1,
.dark .text {
  color: var(--eggshell);
  text-decoration-color: var(--sunset-orange);
}


/* 
All Pages 
\\\\\\\\\\\\\\\
*/
*, *::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
  box-sizing: border-box;
}

a {
  color: inherit;
}

.container {
  height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text,
.contact, 
.skills,
.me,
.projects {
  width: 40%;
  height: fit-content;
}

.text h1 {
  /* text-decoration: underline; */
  font-size: 5rem;
  margin-bottom: 25px;
}

.text p {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

@media screen and (max-width: 815px) {
  /* container and layout*/
  .container {
      height: 200vh;
      flex-direction: column;
      padding: 15px;
      justify-content: space-evenly;

  }

  .text h1 {
    font-size: 3rem;
  }

  .text p {
    font-size: 1rem;
  }

  .text,
  .contact,
  .skills,
  .me,
  .projects {
      width: 85%;
      height: fit-content;
  }

}
/*
End all pages
\\\\\\\\\\\\\\
*/









